.nav-text {
  font-family: "Poppins", sans-serif;
  text-indent: 40px;
  text-align: left;
  text-decoration: underline;
  line-height: normal;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-transform: none;
}

.btn {
  background-color: blue;
  font-size: medium;
  text-align: center;
  padding: 2px;
  border: black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.nav-button:not(:last-child) {
  margin: 1em;
}
.btn:active {
  background-color: black;
  transform: translateY(5px);
}
.btn:hover {
  background-color: red;
}
.h {
  color: silver;
}
.sp {
  color: blue;
  font-style: italic;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: cyan;
  list-style-type: none;
  padding: 40px;
}
.list > li {
  margin-left: 40px;
}
.list > li > p:last-child {
  margin-left: 0px;
}
.list > li > p {
  align-self: flex-start;
}
.list > li > a {
  color: red;
  position: relative;
  top: 35px;
  right: 225px;
}

.search_icon {
  fill: red;
  width: 60px;
  height: 100px;
}

.card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  margin: 5px 400px 30px 150px;
  padding: 10px;
}
.card img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card flex-start-aligned img {
  align-self: flex-start;
}

.container {
  max-width: max-content;
  padding: 10px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: red;
  background-image: url(C:\Users\admin\2Kelectronics\LW3_Nishota\image\4.png);
}

.grad-set {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex-basis: 30%;
  border-radius: 0%;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  color: white;
}
.grad1 {
  height: auto;
  position: relative;
  top: 0px;
  left: 50px;
  flex-basis: 30%;
  align-items: flex-start;
  border-radius: 0%;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: normal;
  background-image: linear-gradient(
    to bottom,
    #61ff84 15%,
    #00ff37 15%,
    #3ece05 15%,
    #00830b 40%,
    #025a02 40%,
    #002007 65%,
    #000000 65%
  );
}
.grad2 {
  height: auto;
  position: relative;
  top: 0px;
  left: 100px;
  flex-basis: 30%;
  align-items: flex-start;
  border-radius: 0%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  text-align: center;
  line-height: normal;
  background-image: linear-gradient(
    to right,
    #f4ff61 15%,
    #fffb00 15%,
    #cbce05 15%,
    #818300 40%,
    #4d5a02 40%,
    #1d2000 65%,
    #000000 65%
  );
}
.grad3 {
  height: auto;
  position: relative;
  top: 50px;
  right: 688px;
  flex-basis: 30%;
  border-radius: 0%;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: normal;
  background-image: linear-gradient(
    to top,
    #ff6161 15%,
    #ff0000 15%,
    #ce0505 15%,
    #830000 40%,
    #5a0202 40%,
    #200000 65%,
    #000000 65%
  );
}
.grad4 {
  height: auto;
  flex-basis: 30%;
  position: relative;
  top: 0px;
  left: 485px;
  flex-wrap: wrap;
  border-radius: 0%;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: normal;
  background-image: linear-gradient(
    to left bottom,
    #61ffea 15%,
    #00ffea 15%,
    #05cec4 15%,
    #008372 40%,
    #025a5a 40%,
    #00201e 65%,
    #000000 65%
  );
}
.grad5 {
  height: auto;
  flex-basis: 30%;
  position: relative;
  top: 50px;
  right: 335px;
  border-radius: 0%;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 5px;
  text-align: center;
  line-height: normal;
  background-image: linear-gradient(
    to top left,
    #6b61ff 15%,
    #0011ff 15%,
    #052dce 15%,
    #000283 40%,
    #08025a 40%,
    #000220 65%,
    #000000 65%
  );
}
.grad6 {
  height: auto;
  flex-basis: 30%;
  position: relative;
  top: 50px;
  right: 280px;
  border-radius: 0%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  text-align: center;
  line-height: normal;
  background-image: linear-gradient(
    to left,
    #ff61f2 15%,
    #ff00d4 15%,
    #ce05b3 15%,
    #830072 40%,
    #5a024b 40%,
    #20001b 65%,
    #000000 65%
  );
}
.box {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 30px;
}
.box :last-child {
  margin-right: 0;
}
